.naveg {
    position: fixed;
    background-color: #282828;
    display: grid;
    grid-template-areas: 
        "pesquisa"
        "naveg"
        "logo_p";
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 30%;
}

.pesquisa {
    background: rgb(230 0 0);
    display: flex;
    grid-area: pesquisa;
}

.caixa_de_pesquisa {
    color: white;
    margin: 0px;
}

.caixa_de_pesquisa:hover {
    color: rgba(255, 255, 255, 0.733);
}

input {
    color: black;
    background-color: white;
    border: none;
}

.botao {
    color: black;
    background-color: white;
    border: none;
}

.botao:hover {
    background-color: rgba(255, 255, 255, 0.733);
}

.menu__nav {
    grid-area: naveg;
}

.menu__lista {
    margin-top: 36px;
}

li {
    display: grid;
    list-style: none;
}

.menu__lista___item {
    display: flex;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: bold;
}

.menu__lista___item:hover {
    color: rgba(255, 255, 255, 0.534);
}

.logo_p {
    grid-area: logo_p;
}