@media screen and (min-width: 0px){
    .series__todas {
        padding-left: 146px;
    }

    .series__todas {
        grid-area: todas;
        display: grid;
        grid-template-areas:
            "cabecalho"
            "conteudo"
            "rodape";
        grid-template-rows: 2.9% auto 1%;
        grid-template-columns: 100%;
    }

    .cabecalho {
        display: grid;
        grid-template-areas: 
            "cabecalho"
            "logo";
        grid-template-columns: 100%;
        grid-template-rows: 60px auto;
        grid-area: cabecalho;
    }

    .menu_de_navegacao {
        padding-left: 59%;
    }

    .idioma {
        width: 30px;
        height: 22px;
    }

    .seta_idioma {
        font-size: 12px;
        margin: 10px 19px 0px 2px;
        height: 16px;
    }
    
    .menu {
        margin: 0px 10px;
        font-size: 21px;
    }

    .usuario {
        width: 23px;
        height: 25px;
    }
    
    .naveg {
        width: 146px;
    }

        
    .pesquisa {
        padding: 10px 0 0 2px;
        height: 50px;
    }

    .caixa_de_pesquisa {
        padding-left: 0px;
        font-size: 26px;
        padding-right: 2px;
    }

    input {
        font-size: 11px;
        margin-top: 5px;
        margin-right: 2px;
        height: 22px;
        width: 76px;
    }

    .botao {
        margin-top: 5px;
        height: 24px;
        width: 35px;
        font-size: 11px;
        padding: 1px 2px;
    }

    .menu__lista {
        padding-left: 11px;
    }

    .menu__lista___item {
        font-size: 26px;
    }

    .logo_p {
        width: 146px;
        margin-top: 185px;
        height: 139px;
    }

    .conteudo {
        padding: 0px 8% 0px 8%;
    }

    .populares__itens {
        flex-direction: column;
    }

    .populares__itens:first-child {
        margin-top: 50px;
    }
    
    .populares__card___imagem {
        height: 337px;
        width: 285px;
    }

    .copy {
        margin-top: 19px;
        margin-bottom: 13px;
    }
}

@media screen and (min-width: 720px){
    
    .series__todas {
        grid-area: todas;
        display: grid;
        grid-template-areas:
            "cabecalho"
            "conteudo"
            "rodape";
        grid-template-rows: 3% auto 1%;
        grid-template-columns: 100%;
        padding-left: 217px;
    }

    .cabecalho {
        display: grid;
        grid-template-areas: 
            "cabecalho"
            "logo";
        grid-template-columns: 100%;
        grid-template-rows: 66px auto;
        grid-area: cabecalho;
    }

    .menu_de_navegacao {
        padding-left: 68%;
    }
    
    .idioma {
        width: 39px;
        height: 27px;
    }

    .seta_idioma {
        margin: 10px 19px 0px 2px;
        height: 16px;
    }

    .menu {
        margin: 0px 10px;
        font-size: 29px;
    }
    
    .usuario {
        width: 35px;
        height: 35px;
    }

    .naveg {
        width: 217px;
    }

    .pesquisa {
        padding: 10px 0 0 10px;
        height: 56px;
    }
    
    .caixa_de_pesquisa {
        padding-left: 7px;
        font-size: 30px;
        width: 30px;
        padding-right: 0px;
    }
    
    input {
        font-size: 17px;
        margin-top: 5px;
        margin-right: 4px;
        height: 28px;
        width: 108px;
    }
    
    .botao {
        margin-top: 5px;
        height: 30px;
        width: 44px;
    }

    .menu__lista {
        padding-left: 22px;
    }
    
    .menu__lista___item {
        font-size: 29px;
    }
    
    .logo_p {
        width: 217px;
        margin-top: 171px;
        height: 173px;
    }
    
    .conteudo {
        padding: 0px 22.5% 0px 22.5%;
    }

    
    .populares__itens {
        flex-direction: column;
    }

    .populares__itens:first-child {
        margin-top: 66px;
    }
     
    .populares__card {
        padding-right: 15px;
    }
        
    .populares__card___imagem {
        height: 368px;
        width: 277px;
    }
    
    .copy {
        margin-top: 30px;
    }
}
