
@media screen and (min-width: 1200px){
    .series__todas {
        padding-left: 255px;
    }
    
    .series__todas {
        grid-area: todas;
        display: grid;
        grid-template-areas:
            "cabecalho"
            "conteudo"
            "rodape";
        grid-template-rows: 10% auto 3%;
        grid-template-columns: 100%;
    }

    .cabecalho {
        display: grid;
        grid-template-areas: 
            "cabecalho"
            "logo";
        grid-template-columns: 100%;
        grid-template-rows: 66px auto;
        grid-area: cabecalho;
    }

    .menu_de_navegacao {
        padding-left: 85%;
    }
    
    .idioma {
        width: 39px;
        height: 27px;
    }

    .seta_idioma {
        margin: 10px 19px 0px 2px;
        height: 16px;
    }

    .menu {
        margin: 0px 10px;
        font-size: 29px;
    }
    
    .usuario {
        width: 35px;
        height: 35px;
    }

    .naveg {
        width: 255px;
    }

    .pesquisa {
        padding: 10px 0 0 10px;
        height: 56px;
    }
    
    .caixa_de_pesquisa {
        padding-left: 7px;
        font-size: 32px;
        width: 30px;
        padding-right: 8px;
    }
    
    input {
        font-size: 17px;
        margin-top: 5px;
        margin-right: 4px;
        height: 28px;
        width: 133px;
    }
    
    .botao {
        margin-top: 5px;
        height: 30px;
        width: 49px;
    }

    .menu__lista {
        padding-left: 22px;
    }
    
    .menu__lista___item {
        font-size: 29px;
    }
    
    .logo_p {
        width: 255px;
        margin-top: 171px;
        height: 173px;
    }
    
    .conteudo {
        padding: 0px 24px 0px 24px;
    }

    
    .populares__itens {
        flex-direction: row;
    }

    .populares__itens:first-child {
        margin-top: 66px;
    }
     
    .populares__card {
        padding-right: 15px;
    }
        
    .populares__card___imagem {
        height: 430px;
        width: 250px;
    }
    
    .copy {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1600px){
    .series__todas {
        padding-left: 290px;
    }
    
    .series__todas {
        grid-area: todas;
        display: grid;
        grid-template-areas:
            "cabecalho"
            "conteudo"
            "rodape";
        grid-template-rows: 13% auto 3%;
        grid-template-columns: 100%;
    }

    .cabecalho {
        display: grid;
        grid-template-areas: 
            "cabecalho"
            "logo";
        grid-template-columns: 100%;
        grid-template-rows: 76px auto;
        grid-area: cabecalho;
    }

    .menu_de_navegacao {
        padding-left: 85%;
    }
    
    .idioma {
        width: 39px;
        height: 27px;
    }

    .seta_idioma {
        margin: 10px 19px 0px 2px;
        height: 16px;
    }

    .menu {
        margin: 0px 10px;
        font-size: 29px;
    }
    
    .usuario {
        width: 35px;
        height: 35px;
    }

    .naveg {
        width: 290px;
    }

    .pesquisa {
        padding: 17px 0 0 10px;
        height: 59px;
    }
    
    .caixa_de_pesquisa {
        padding-left: 7px;
        font-size: 32px;
        width: 30px;
        padding-right: 8px;
    }
    
    input {
        font-size: 17px;
        margin-top: 5px;
        margin-right: 4px;
        height: 28px;
        width: 133px;
    }
    
    .botao {
        margin-top: 5px;
        height: 30px;
        width: 49px;
    }

    .menu__lista {
        padding-left: 22px;
    }
    
    .menu__lista___item {
        font-size: 37px;
    }
    
    .logo_p {
        width: 290px;
        margin-top: 400px;
        height: 446px;
    }
    
    .conteudo {
        padding: 0px 9.5% 0px 9.5%;
    }

    
    .populares__itens {
        flex-direction: row;
    }

    .populares__itens:first-child {
        margin-top: 66px;
    }
     
    .populares__card {
        padding-right: 15px;
    }
        
    .populares__card___imagem {
        height: 484px;
        width: 317px;
    }
    
    .copy {
        margin-top: 30px;
    }
}